.__bt-page-titlebar-style {
  .bt-page-titlebar {
    position: relative;
    z-index: 1;
    &--infor {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &--title {
      color: #fff;
      text-align: center;
      font-family: $secondary-font;
      font-size: 60px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      word-break: break-word;
      margin: 0 0 5px 0;
      @media (max-width: $break-sm) {
        font-size: 45px;
        line-height: 1.2;
        margin-bottom: 15px;
      }
    }
    &--breadcrumb {
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      word-break: break-word;
      display: flex;
      justify-content: center;
      grid-gap: 10px;
      @media (max-width: $break-sm) {
        font-size: 16px;
        grid-gap: 6px;
        flex-wrap: wrap;
      }
    }
  }
}
.bt-site-titlebar {
  position: relative;
  background-color: $color-secondary;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 81px 0 81px 0;
  text-align: center;
  @extend .__bt-page-titlebar-style;
  &.bt-has-distance {
    padding-top: 237px;
    @media (max-width: $break-tl) {
      padding-top: 180px;
    }
    @media (max-width: $break-sm) {
      padding-top: 210px;
    }
  }
  @media (max-width: $break-tl) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
